.container {
  display: flex;
  border-radius: 2px;
  width: 85%;
  height: 220px;
 
}
.aboutimage {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  object-fit: cover;
}
.aboutimage:hover {
  cursor: pointer;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  transform: scale(1.05);
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.3);
}
@media(min-width:550px){
  .aboutimage {
    height: 200px;
  }
}
@media(min-width:1400px){
  .aboutimage {
    height: 260px;
  }
}
@media(min-width:1500px){
  .aboutimage {
    height: 300px;
  }
}
@media (max-width:1080) {
  .aboutimage{
    height: 400px;
  }
}
@media (max-width:550px){
  .container{
    height: 140px;
  }
}