.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    font-size: 39px;
    margin-bottom: 50px;
    font-family: montserrat;
}

.blogcontainer{
    padding: 5%;
  
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,2fr));
    row-gap: 0px;
    column-gap: 34px;
    transition: all 1ms;
    margin-top: -65px;
}

.item1{
   width: 100%;
   display: flexbox;
   margin-bottom: -22px;
}
.item{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
@media(max-width:1200px){
    .blogcontainer{
        padding-left: 4%
        ;
        padding-right: 8%;
    }
}

@media(max-width:710px){
    .blogcontainer{
       padding-left: 4%
       ;
       padding-right: 8%;
    }
}
@media(max-width:550px){
    .heading{
        font-size: 30px;
    }
    .blogcontainer{
       margin-right: 2%;
       padding-left: 3%
       ;
    }
}
@media(max-width:680px){
    .blogcontainer{
       margin-bottom:30px;
    }
}