.maincontainer {
  transition: all .4s;
  display: flex;
  width: 100%;
  z-index: -1;
  font-family: montserrat;
  padding-top: 10px;
  align-items: flex-start;
  filter: grayscale(0%);
  object-fit: cover;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
}
.maincontainer:hover{
  transform: scale(1.02);
  cursor: pointer;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}
.maincontainerleft {
  width: 47%;
  padding-left:5.5%;
  margin-right: 3.5%;
}
.maincontainerright {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
  padding-right: 2%;
}
.containerimage {
  width: 100%;
  border-radius: 6px;
  height: 250px;
  z-index: -1;
  object-fit: cover;
}

.blogdate {
  font-size: 14px;
}
.blogheading {
  font-size: 22px;
}
.blogsubheading {
  font-size: 14px;
}


@media(max-width:1000px){
.maincontainer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 5px;
    width: 100%;
   
}
.maincontainerleft{
margin-left: -2%;
  width: 90%;

}
.maincontainerright{

  width: 87%;
  

}
.blogdate {
  font-size: 10px;
}
.blogheading {
  font-size: 16px;
}
.blogsubheading {
  font-size: 10px;
}
}



@media(max-width:680px){
  .maincontainer{
    margin-bottom: 30px;
  }
  .containerimage {

    height: 250px;
 
  }
}
@media(max-width:600px){
  .maincontainer{
  margin-bottom: 30px;
  }
  .containerimage {

    height: 100%;
 
  }
}
@media(max-width:560px){
  .maincontainer{
  margin-bottom: 44px;
  }
}
