.maincontainer {
  transition: all .4s;
  display: flex;
  width: 100%;
  z-index: -1;
  font-family: montserrat;
  padding-top: 10px;
  align-items: flex-start;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
}
.maincontainerleft {
  width: 47%;
  padding-left:6%;
  margin-right: 3%;
}
.maincontainerright {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
}
.containerimage {
  width: 100%;
  border-radius: 6px;
  height: 250px;
  z-index: -1;
}

.blogdate {
  font-size: 14px;
}
.blogheading {
  font-size: 22px;
}
.blogsubheading {
  font-size: 14px;
}
.maincontainer:hover{
  cursor: pointer;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);

}

@media(max-width:1000px){
.maincontainer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    margin-right:9%;
    margin-bottom: 10px;
    gap: 5px;
   
}
.maincontainerleft{
  width: 100%;
  height: 90%;
}
.maincontainerright{
  width: 100%;
  padding-left: 4.5%;
}
.blogdate {
  font-size: 10px;
}
.blogheading {
  font-size: 16px;
}
.blogsubheading {
  font-size: 10px;
}
}

@media(max-width:500px){
  .maincontainer{
    margin-bottom: 30px;
  }
  .containerimage {

    height: 160px;
 
  }
}